@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	src: url('./Roboto_Mono/RobotoMono-Regular.ttf') format('truetype');
}

#perfmeter-panel{
	all: initial;
	font-family: "Roboto mono";
	font-size: 10px;
	position: fixed;
	background-color: rgba( 0, 0, 0, .5 );
	padding: 10px;
	right: 0;
	top: 0;
	color: white;
	text-shadow: 0 -1px 0 #000;
	z-index: 2147483647;
}
