@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	src: url('./Roboto_Mono/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 700;
	src: url('./Roboto_Mono/RobotoMono-Bold.ttf') format('truetype');
}

#perfmeter-panel{
	all: initial;
	text-align: right;
	pointer-events: none;
	font-family: "Roboto mono";
	font-size: 10px;
	position: fixed;
	background-color: rgba( 0, 0, 0, .5 );
	padding: 10px;
	right: 5px;
	top: 5px;
	color: white;
	text-shadow: 0 -1px 0 #000;
	z-index: 2147483647;
	white-space: pre;
}

#perfmeter-panel b{
	font: inherit;
	font-weight: 700;
	color: #9EFD38;
}
