*{ margin: 0; padding: 0; box-sizing: border-box; }
body{ padding: 10px; line-height: 2em;}
h1{ font-size: 14px; }
.instrument-status{ display: none; }
#scriptStatus{ background-color: #FFDA9E; padding: 10px; margin: 10px 0; }
button{ padding: 4px; cursor: pointer; vertical-align: top; padding-bottom: 5px;}
button object{ width: 10px; height: 10px; pointer-events: none; margin-right: 4px; line-height: 0; vertical-align: text-bottom; }
input[type=checkbox]:disabled+label { opacity: .5; }
.horizontal-bar{
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
}
.horizontal-bar li{
	display: flex;
    align-items: flex-start;
}
form.disabled{
	opacity: .5;
	pointer-events: none;
}
input[type=radio]{ margin-right: .5em;}
.graphs h2{ margin: 0 0 4px 0; font-size: 11px; line-height: 1em;}
.graphs div{ height: 30px; position: relative; margin: 0 0 12px 0; background-color: #efefef;}
.graphs div canvas{ cursor: crosshair; }
.graphs .label{
position: absolute;
top: 0;
pointer-events: none;
background-color: transparent;
font-family: inherit;
font-size: 10px;
background-color: rgba( 255, 255, 255, .5 );
padding: 5px 10px 0 10px;
bottom: 0;
margin: 0;
opacity: 1;
transition: opacity 150ms ease-out;
text-shadow: 0 1px #fff;
}
.graphs .flip{ right: 0; }
.graphs .hidden{ opacity: 0; transition: opacity 350ms ease-out; }
.graphs div h1{ position: absolute; top: 0; padding: 5px; font-size: 11px; line-height: 1em; opacity: .5; pointer-events: none; text-shadow: 0 1px #fff;}
